* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

body {
    height: 100%;
    overflow: hidden;
}

.game-text {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    left: 0;
    top: 0;
    color: white;
    font-size: 50px;
}

.game-text > button {
    padding: 0.5rem 1rem;
    color: white;
    background: salmon;
    border: none;
    cursor: pointer;
}

.score {
    text-align: center;
    font-size: 36px;
    margin-bottom: 2rem;
}

.playground > ul {
    border: 3px solid #333;
    width: 250px;
    margin: 0 auto;
}
.playground > ul > li {
    width: 100%;
    height: 25px;
}

.playground > ul > li > ul {
    display: flex;
}

.playground > ul > li > ul > li {
    width: 25px;
    height: 25px;
    outline: solid;
    outline: 1px outset #ccc;
}

.O {
    background: yellow;
}

.I {
    background: skyblue;
}

.T {
    background: purple;
}

.Z {
    background: red;
}

.J {
    background: blue;
}

.L {
    background: orange;
}
